<form [formGroup]="form" class="p-2">
 <div class="form-group">
   <label style="color: black;">
     Queremos te conhecer um pouco melhor, então, das alternativas abaixo, qual prefere:
    </label>
    <select formControlName="res1" class="form-control">
      <option disabled value="">Selecione</option>
      <option *ngFor="let res of res1; let i = index" [value]="i" >{{res}}</option>
    </select>
    <div *ngIf="form.get('res1').invalid && (form.get('res1').touched || form.get('res1').dirty)" class="alert alert-danger">
        <div *ngIf="form.get('res1').hasError('required')">
          O Campo e requirido
        </div>
    </div>	
 </div>
 <div class="form-group">
    <label style="color: black;">
        Todos nós temos uma área que sempre admiramos ou sentimos mais afinidade, assinale a alternativa que mais se identifica
    </label>
    <select formControlName="res2" class="form-control">
      <option disabled value="">Selecione</option>
      <option *ngFor="let res of res2; let i = index" [value]="i" >{{res}}</option>
    </select>
    <div *ngIf="form.get('res2').invalid && (form.get('res2').touched || form.get('res2').dirty)" class="alert alert-danger">
      <div *ngIf="form.get('res2').hasError('required')">
        O Campo e requirido
      </div>
    </div>
  </div>
  <div class="form-group">
    <label style="color: black;">
        Sobre filmes, me fala o que ama? Eu comédia romântica com certeza! E, você?
    </label>
    <select formControlName="res3" class="form-control">
      <option disabled value="">Selecione</option>
      <option *ngFor="let res of res3; let i = index" [value]="i" >{{res}}</option>
    </select>
    <div *ngIf="form.get('res3').invalid && (form.get('res3').touched || form.get('res3').dirty)" class="alert alert-danger">
        <div *ngIf="form.get('res3').hasError('required')">
          O Campo e requirido
        </div>
    </div>
  </div>
  <div class="form-group">
    <label style="color: black;">
        Se fosse viajar, para onde iria?
    </label>
    <select formControlName="res4" class="form-control">
      <option disabled value="">Selecione</option>
      <option *ngFor="let res of res4; let i = index" [value]="i" >{{res}}</option>
    </select>
    <div *ngIf="form.get('res4').invalid && (form.get('res4').touched || form.get('res4').dirty)" class="alert alert-danger">
      <div *ngIf="form.get('res4').hasError('required')">
        O Campo e requirido
      </div>
    </div>
  </div>
  <div class="form-group">
      <label style="color: black;">
          Todos nós amamos comida! A minha favorita é pizza, e a sua?
      </label>
      <select formControlName="res5" class="form-control">
        <option disabled value="">Selecione</option>
        <option *ngFor="let res of res5; let i = index" [value]="i" >{{res}}</option>
      </select>
      <div *ngIf="form.get('res5').invalid && (form.get('res5').touched || form.get('res5').dirty)" class="alert alert-danger">
        <div *ngIf="form.get('res5').hasError('required')">
          O Campo e requirido
        </div>
      </div>
    </div>
</form>