<!--Card - infor-->
<div *ngIf="usuario.respondido == 1" class="row justify-content-center">
    <div class="col-md-6">
       <div class="card bg-white shadow">
          <div class="text-center">
             <i class="fa fa-info-circle fa-4x amarelo"></i>
          </div>
          <h4 class="mt-3 text-center">
            Ei mano parece que tu já respondeu nosso formulário oh... 
            Ei mais espera ai que agente ta procurando umas pessoas
            que agente acha que combina mais com você... espera ai viu :)
          </h4>
       </div>
    </div>
 </div>
 <!-- end - Card-->
 <!--Card - not foud-->
 <div *ngIf="usuario.respondido == 2" class="row justify-content-center">
    <div class="col-md-6">
       <div class="card bg-white shadow">
          <div class="text-center">
             <i class="fa fa-close fa-4x vermelho"></i>
          </div>
          <h4 class="mt-3 text-center">
            Ei mano parece que infelizmente não foi dessa vez....
            mais não desista agente sabe que essa pessoa exite só
            não participou do nosso evento :(
          </h4>
       </div>
    </div>
 </div>
 <!-- end - Card-->
 <!--Card - infor-->
 <div *ngIf="usuario.respondido == 3" class="row justify-content-center">
    <div class="col-md-6">
       <div class="card bg-white shadow">
          <div class="text-center">
             <i class="fa fa-check fa-4x verde"></i>
          </div>
          <h4 class="mt-3 text-center">
            Ei mano agente achou umas pessoas que agente acha que tem mesmo interesse que você....
            ta curioso clica ali pra ver :)
          </h4>
          <div class="row justify-content-end mr-1">
            <p class="lead user-list"> <a routerLink="/lista">Veja aqui... <i class="fa fa fa-user-secret fa-2x verde"></i></a></p>
          </div>
       </div>
    </div>
 </div>
 <!-- end - Card-->

<!--tabs-->
<div *ngIf="usuario.respondido == 0 && send" class="form-custom p-3 bg-white shadow">
   <!--<p>{{form.value | json}}</p>-->
   <tabset>
      <tab class="tab" heading="Perfil">
         <app-tabperfil [form]="form"></app-tabperfil>
      </tab>
      <tab heading="O que você gosta">
         <app-tabgosta [form]="resposta"></app-tabgosta>
      </tab>
      <tab heading="Sobre você">
         <app-tabhabilidade [resposta]="resposta" [form]="form"></app-tabhabilidade>
      </tab>
   </tabset>
</div>
<div *ngIf="usuario.respondido == 0 && send == false" class="row justify-content-center">
   <div class="col-md-6">
      <div class="card bg-white shadow">
         <div class="text-center">
            <i class="fa fa-code fa-4x vermelho"></i>
         </div>
         <h4 class="mt-3 text-center">
            Ops!!! Mano parece que você chegou tarde mano agente já começou a montar os grupos.... 
            quem sabe no proximo Tec Day da Certo :)
         </h4>
      </div>
   </div>
</div>