 <!-- Sidebar -->
 <div *ngIf="usuario.tipoUsuario == 1" id="sidebar-wrapper">
  <ul class="sidebar-nav nav flex-column" id="menu">
     <li>
        <img class="img-fluid user-img" [src]="usuario.foto != null ? usuario.foto :'./assets/imgs/user.png'">
        <p class="lead text-center text-white">{{usuario.nome}}</p>
     </li>
     <li class="nav-item">
        <a routerLink="/admin"><span class="fa-stack fa-lg"><i class="fa fa-home fa-stack-1x "></i></span> Inicio</a>
     </li>
     <li routerLinkActive="active" class="nav-item">
        <a routerLink="/admin/perfil"><span class="fa-stack fa-lg"><i class="fa fa-user-o fa-stack-1x "></i></span>Perfil</a>
     </li>
     <li class="nav-item">
        <a (click)="openModal(termos)" style="cursor: pointer; color: #999999;"><span class="fa-stack fa-lg"><i class="fa fa-info fa-stack-1x "></i></span>Termos de Uso</a>
     </li>
     <li class="nav-item">
        <a (click)="logout()" style="cursor: pointer; color: #999999;"><span class="fa-stack fa-lg"><i class="fa fa-sign-out fa-stack-1x "></i></span>Sair</a>
     </li>
  </ul>
  <p class="lead text-center text-white footer">Casulo Evolução &copy; 2019</p>
</div>
<!-- /#sidebar-wrapper -->

<!-- Sidebar -->
<div *ngIf="usuario.tipoUsuario == 0" id="sidebar-wrapper">
   <ul class="sidebar-nav nav flex-column" id="menu">
      <li>
         <img class="img-fluid user-img" [src]="usuario.foto != null ? usuario.foto :'./assets/imgs/user.png'">
         <p class="lead text-center text-white">{{usuario.nome}}</p>
      </li>
      <li class="nav-item active">
         <a routerLink="/admin"><span class="fa-stack fa-lg"><i class="fa fa-home fa-stack-1x "></i></span> Inicio</a>
      </li>
      <li class="nav-item">
         <a (click)="logout()" style="cursor: pointer; color: #999999;"><span class="fa-stack fa-lg"><i class="fa fa-sign-out fa-stack-1x "></i></span>Sair</a>
      </li>
   </ul>
   <p class="lead text-center text-white footer">Casulo Evolução &copy; 2019</p>
 </div>
 <!-- /#sidebar-wrapper -->

<ng-template #termos>
   <div class="modal-header">
     <h4 class="modal-title pull-left">TERMOS DE USO DO EVOLGOALS</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
      <p>Última atualização: 19 de maio de 2019</p>

      <p>Bem vindo(a)! Obrigado por utilizar o Evolgoals!</p>
      
      <p>Esta aplicação e seu conteúdo (“ <strong>Evolgoals</strong>”) são controlados 
         pelo grupo de estudos Casulo de Sistemas da Faculdade Evolução. 
         <strong>Todos os direitos reservados.</strong>
      </p>
      <p>
         De acordo com a disposição do artigo 41 da Lei Geral de Proteção de Dados, o Evolgoals indica Ismael Alves Ximenes, Desenvolvedor de softawares e Líder do grupo Casulo de Sistemas com mandato vigente até 31 de junho de 2019 como pessoa encarregada pelo tratamento de dados, sendo possível o contato através do seguinte e-mail: cearaismael1997@gmail.com.
         Estes termos de uso tem por objetivo informar sobre as obrigações e direitos que lhe correspondem como um usuário deste aplicativo. Nosso dever é informar e o seu é estar devidamente informado.
         <strong>AO ULTILIZAR O EVOLGOALS, VOCÊ AUTOMATICAMENTE CONCORDA COM ESTES TERMOS DE USO, RESPONSABILIZANDO-SE INTEGRALMENTE POR TODOS E QUAISQUER ATOS PRATICADOS POR VOCÊ NO EVOLGOALS OU EM SERVIÇOS A ELE RELACIONADOS, CASO VOCÊ NÃO CONCORDE COM QUALQUER DOS TERMOS E CONDIÇÕES ABAIXO ESTABELECIDOS, VOCÊ NÃO DEVE UTILIZAR O EVOLGOALS.</strong>
         Caso queira nos dar algum feedback sobre o Evolgoals, tenha dúvidas ou precise tratar de qualquer assunto relacionado a estes Termos de Uso, entre em contato através dos e-mails agilidade.evolucao@gmail.com, duduvieiramattos@gmail.com, cearaismael1997@gmail.com, rsb.1296@gmail.com e rolim.valdeci@gmail.com .
      </p>
      <strong>1º O QUE É O EVOLGOALS ?</strong>
      <p> 1.1 <strong>Serviços.</strong> O Evolgoals é uma plataforma que oferece os seguintes serviços: Interação social 
         entre alunos de instituições de ensino superior. Sendo num primeiro momento realizado entre as instituições 
         Faculdade Evolução e FATENE. A proposta do Evolgoals é colher dados pessoais e comportamentais dos usuários 
         para armazenar e compará-los com outros usuários. Este cruzamento de dados irá fornecer a todos os usuários, 
         individualmente e confidencialmente, uma lista com 5(cinco) usuários mais compatíveis com o perfil comportamental 
         do usuário interessado.
      </p>
      <strong>
         1.2 Ressalvas. Ao utilizar o EVOLGOALS, você reconhece que as instituições de ensino envolvidas e os desenvolvedores da 
         plataforma não se responsabilizam por qualquer interação em qualquer outra plataforma que se dê a partir do Evolgoals. 
         Não divulgamos publicamente nenhum resultado da interação nesta plataforma, sendo de responsabilidade integral do usuário 
         a utilização devida das informações fornecidas e propostas pelo mesmo. Não vendemos informações, produtos e serviços a 
         terceiros nem aos usuários. O Aplicativo Evolgoals é um projeto desensenvolvido apenas com propósito acadêmico do grupo 
         de estudos Casulo de Sistemas. 
      </strong>
      <p> 
         1.3 <strong>Suspensão.</strong> Nós nos reservamos o direito de suspender e cancelar a qualquer momento, o seu acesso à aplicação em caso 
         de suspeita de fraude, obtenção de benefício ou vantagem de forma ilícita, ou pelo não cumprimento de quaisquer condições 
         previstas nestes Termos de Uso, na Política de Privacidade ou na legislação aplicável. Nessos casos, não será devida 
         qualquer indenização a você, eo Evolgoals poderá promover a competente ação de regresso, se necessário, bem como tomar 
         quaisquer outras medidas necessárias para perseguir e resguardar seus interesses. 
      </p>
      <strong>2ª COMO ACESSO O EVOLGOALS?</strong>
      <p> 
         2.1 <strong>Acesso.</strong> Para acessar o Evolgoals e utilizar suas funcionalidades é necessário efetuar um cadastro.
         Para cadastrar-se, você nós fornecerá informações pessoais, conforme solicitadas em nossa plataforma. As informações 
         fornecidas serão tratadas conforme descritas nos itens da sessão 1 deste Termo de Uso.
      </p>
      <p> 
         2.2 <strong>Idade de Utilização.</strong> Para utilizar o Evolgoals, você deve ter pelo menos 18(dezoito) anos.
      </p>
     <p>
         2.3 <strong>Titularidade.</strong> A partir do cadastro, você será titular de uma conta que somente poderá ser acessada 
         por você. Caso o Evolgoals detecte alguma conta feita a partir de informações falsas, por usuários que, por exemplo, não 
         possuem a idade mínima permitida, essa conta será automaticamente deletada.
      </p>
      <p> 
         2.4 <strong>Atualização de Informações.</strong> Desde já, você se compromete a manter as suas informações pessoais 
         atualizadas. Você também concorda que irá manter o seu login e senha seguros e fora do alcance de terceiros, e não 
         permitirá que a sua conta no Evolgoals seja usada por outras pessoas. Dessa forma, o usuário responsabiliza-se por 
         todas as ações realizadas em sua conta.
      </p>
      <p>
         2.5 <strong>Conexões via Terceiros.</strong>Alternativamente, o Evolgoals poderá oferecer a possibilidade de realizar 
         seu cadastro por meio de sua conta de serviços de terceiros como Facebook e Google, mas não apenas estes. Nessa hipótese, 
         você autoriza o Evolgoals a acessar, armazenar e utilizar as informações fornecidas por terceiros afim de criar sua conta 
         no Evolgoals. O Evolgoals reafirma que <strong>NÂO</strong> tem qualquer ligação com esses terceiros, não possuindo qualquer responsabilidade,
         tampouco garantindo, em qualquer hipótese, os produtos ou serviços fornecidos por eles.
      </p>
      <strong> 3ª QUAIS SÃO OS DIREITOS DO EVOLGOALS SOBRE A APLICAÇÃO?</strong>
      <p>
         3.1 <strong>Nossos Direitos.</strong>Todos os direitos relativos ao Evolgoals e suas funcionalidades são de propriedade 
         exclusiva do Evolgoals, inclusive no que diz respeito aos textos, imagens, layouts, software, códigos, base de dados, 
         gráficos, artigos, fotografias e demais conteúdos produzidos direta ou indiretamente pelo Evolgoals 
         (“Conteúdo do Evolgoals”). O Conteúdo do Evolgoals é protegido pela lei de direitos e de propriedade intelectual. 
         É proibido, usar, copiar, reproduzir, modificar, traduzir, publicar, transmitir, distribuir, executar, fazer o upload,
         exibir, licenciar, vender ou explorar e fazer engenharia reversa do Conteúdo do Evolgoals, para qualquer finalidade, 
         sem o consentimento prévio e expresso do Evolgoals. Qualquer uso não autorizado do Conteúdo do Evolgoals será 
         considerado como violação dos direitos autorais e de propriedade intelectual do Evolgoals.
      </p>
      <strong> 4ª PROPRIEDADE INTELECTUAL SOBRE O SOFTWARE E OS MATERIAS 	DISPONIBILIZADOS</strong>
      <p>
         4.1 <strong>Propriedade Intelectual.</strong> Para nós do Evolgoals, a qualidade dos materiais disponibilizados ao 
         usuário é de suma importância. A Criação deles é fruto de muito trabalho e dedicação do grupo de estudos Casulo de
         Sistemas, sendo eles seus lideres e participantes, valendo destacar o Idealizador do Evolgoals Valdeci Rolim Junior e 
         seu desenvolvedor principal Ismael Alves Ximenez. Por isso, reafirmamos que o Evolgoals garante que todos os direitos, 
         título e interesse(incluindo, mas não apenas, os direitos autorais, marcários e outros de propriedade intelectual) sobre 
         o serviços disponibilizado por nós permanecerão sobre autoridade do Evolgoals.
      </p>
      <p>
         4.2 <strong>Não aquisição de direitos.</strong>O usuário não adquire nenhum direito de propriedade sobre os serviços e 
         conteúdos do Evolgoals, exceto quando haja outorga expressa neste Termo de Uso.
      </p>
      <strong> 
         4.3 Download de conteúdo. É proibido que o usuário faça o download de nosso conteúdo com intuito de armazená-lo em banco de 
         dados para oferecer a terceiro que não seja o próprio usuário. Veda-se, também, que  conteúdo disponibilizado por nós 
         seja usado para criar uma base de dados ou um serviço que possa concorrer de qualquer maneira com o nosso aplicativo.
      </strong>
      <strong>5ª RECLAMAÇÕES SOBRE VIOLAÇÃO DE DIREITO AUTORAL</strong>
      <p>
         5.1 <strong>Infringência de Direitos.</strong>Alegações de infringência de direito autoral de de qualquer conteúdo disponível 
         no Evolgoals devem ser encaminhadas por meio do e-mail cearaismael1997@gmail.com.
      </p>
      <strong>6ª RESPONSABILIDADES DO USUÁRIO E DO EVOLGOALS</strong>
      <p>
         6.1 <strong>Responsabilidade pelo Uso.</strong>Você é exclusivamente responsável pelo uso do Evolgoals e deverá respeitar as 
         regras destes Termos de Uso, bem como a legislação aplicável ao Evolgoals.
      </p>
      <p>
         6.2 <strong>Responsabilidades por Eventuais Danos.</strong>O Evolgoals, seu controlador, o grupo Casulo de Sistemas nem a 
         Faculdade Evolução não serão, em hipótese alguma, responsabilizados por danos diretos ou indiretos que resultem de, ou que 
         tenham relação com o acesso, uso ou a incapacidade de acessar ou utilizar o Evolgoals.
      </p>
      <strong>
         6.3 Não-Responsabilização. TENDO EM VISTA AS CARACTERÍSTICAS INERENTES AO AMBIENTE DA INTERNET, O EVOLGOALS NÃO SE 
         RESPONSABILIZA POR INTERRUPÇÕES OU SUSPENSÕES DE CONEXÃO, TRANSMISSÕES DE COMPUTADOR INCOMPLETAS OU QUE FALHEM, 
         BEM COMO POR FALHA TÉCNICA DE QUALQUER TIPO, INCLUÍNDO, MAS NÃO SE LIMITANDO, AO MAU FUNCIONAMENTO ELETRÔNICO DE 
         QUALQUER REDE, HARDWARE OU SOFTWARE. A INDISPONIBILIDADE DE ACESSO À INTERNET OU AO EVOLGOALS, ASSIM COMO QUALQUER 
         INFORMAÇÃO INCORRETA OU INCOMPLETA SOBRE O EVOLGOLAS E QUALQUER FALHA HUMAN, TÉCNICA OU DE QUALQUER OUTRO TIPO NO 
         PROCESSAENTO DAS INFORMAÇÕES DO EVOLGOALS NÃO SERÃO CONSIDERADAS RESPONSABILIDADE DO EVOLGOALS. O EVOLGOALS SE EXIME 
         DE QUALQUER REPONSABILIDADE PROVENIENTEDE TAIS FATOS E/OU ATOS.
      </strong>
      <p>
         6.4 <strong>Links Externos.</strong>É possível que o Evolgoals possa conter links para sites e aplicativos de terceiros, 
         assim como ter tecnologias integradas. Isso não implica, de maneira alguma, que o Evolgoals endossa, verifica, garante ou 
         possui qualquer ligação com os proprietários desses sites ou aplicativos, não sendo responsável pelo seu conteúdo, políticas,
         precisão, práticas ou opiniões. O Evolgoals recomenda que você leia os termos de uso e políticas de privacidade de cada site 
         de terceiros ou serviço que o usuário vier a visitar ou utilizar.
      </p>
      <p>
         6.5 <strong>Exclusão de Responsabilidades.</strong>Quando o Evolgoals facilita a integração de você com prestadores de 
         terceiros independentes, como login com facebook e Google, isso <strong> não </strong>significa que o Evolgoals endosse, verifica, garanta, 
         possui qualquer ligação ou recomenda esses terceiros. Nessas situações, o Evolgoals atua como mero facilitador de transações 
         entre você e tais terceiros, de modo que o Evolgoals não é fornecedor de bens ou serviços, os quais são prestados diretamente 
         por terceiros prestadores independentes, o Evolgoals não será, em hipótese alguma, responsável por tais produtos ou serviços 
         de terceiros fornecedores e reitores a necessidade do usuário ler, analisar e aceitar os Termos de Uso das plataformas que 
         possam ter alguma interface conosco.
      </p>
      <strong>7ª COMO O EVOLGOALS LIDA COM CONTEÚDO QUE VOCÊ E OUTROS USUÁRIOS PRODUZEM?</strong>
      <p>
         7.1 <strong>Criação de Conteúdo.</strong>O Evolgoals poderá, a seu exclusivo critério, permitir que você ou qualquer 
         outro usuário apresente, carregue, publique ou disponibilize, na aplicação, conteúdo ou informações de texto, imagem, 
         áudio ou vídeo.(“Conteúdo de Usuário”).
      </p>
      <strong>
         7.2 Conteúdos de login, senha, respostas fornecidas e listas de retorno do Evolgoals são protegidas por criptografia, o 
         que significa que nós seremos “cegos” com relação a este conteúdo.
      </strong>
      <p>
         7.3 <strong>Exclusão de conteúdo.</strong>O Evolgoals poderá, mas não se obriga a, monitorar, analisar e remover Conteúdo 
         de Usuário, a critério exclusivo do Evolgoals, a qualquer momento e por qualquer motivo, sem nenhum aviso a você.
      </p>
      <p>
         7.4 <strong>Informações coletadas.</strong> O Evolgoals irá coletar Dados e Conteúdo de Usuário, sendo estes, informações de login e senha, 
         informações de login por serviços de terceiros caso escolhido, informações pessoais e comportamentais para traçar um perfil 
         pessoal de usuário. Este perfil, junto com as respostas fornecidas pelo usuário no na plataforma serão salvos em base de 
         dados. Estes dados serão cruzados na busca de outros perfis e resposta compatíveis com o usuário. Uma lista de 5(cinco) 
         outros usuários mais compatíveis será fornecida individualmente para cada usuário do Evolgoals. A partir deste ponto, é de 
         responsabilidade do usuário o uso devido desta lista para socialização e interação do mesmo. 
      </p>
      <strong>8ª O QUE MAIS DEVO SABER SOBRE O EVOLGOALS</strong>
      <p>
         8.1 <strong>Idealização.</strong> O Evolgoals foi idealizado a nível de projeto acadêmico e de estudos do grupo de 
         estudos Casulo de Sistemas. Sua finalidade é produzir como portifólio somando como experiência um projeto a nível 
         acadêmico e de estudos não sendo comercializado até que a pessoa encarregada pelo tratamento de dados e desenvolvedor 
         principal Ismael Ximenes decida comercializá-lo em acordo com os demais envolvidos no projeto. 
      </p>
      <p>
         8.2 <strong>Idealizador.</strong> O Evolgoals foi idealizado pelo grupo de líderes do grupo de estudos Casulo de Sistemas 
         da Faculdade Evolução, valendo destacar Valdeci Rolim Junior como principal idealizador deste projeto.
      </p>
      <p>
         8.3 <strong>Desenvolvedor.</strong> O Evolgoals foi desenvolvido pelo grupo de estudos Casulo de Sistemas da Faculdade 
         Evolução, tendo participação dos integrantes assíduos e do grupo de lideres, valendo destacar Ismael Alves Ximenes Bezerra
         como desenvolvedor principal e encarregado pelo tratamento de dados.
      </p>
      <p>
         8.4 <strong>Dúvidas.</strong> Caso tenha alguma dúvida, comentário ou sugestão, por favor, entre em contato conosco por 
         meio dos e-mails agiliade.evolução@gmail.com , duduvieiramattos@gmail.com , cearaismael1997@gmail.com , 
         rsb.1296@gmail.com e rolim.valdeci@gmail.com .      
      </p>
   </div>
</ng-template>