<div class="bg-home">
    <app-header></app-header>
    <div class="container">
        <div class="row justify-content-between" id="home-content">
            <div class="col-md-6">
                <h4 class="text-white mt-5">
                Mais um projeto Casulo sendo Contruido
                </h4>
                <p class="text-white lead">
                Como todos sabem, o Casulo de Sistemas é formado por um grupo de alunos que possuem o 
                objetivo de compartilhar conteúdo de informática. Além de procurar meios de fazer com 
                que todos que se interessam pela área de informática, se inspirarem cada vez mais.        
                </p>
                <p class="text-white lead">
                Sabemos que os sistemas promovem interações, e, porque não criar um para nossa faculdade?
                Além de inspirar quem está fazendo, também temos a vantagem de participar de um clima de 
                interação e, bem divertido. E, assim surgiu o EvolGoals.  
                </p>
                <p class="text-white lead">
                Esperamos muito que gostem!  
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid img-center" src="./assets/imgs/smartphone.png">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div class="row mt-5">
            <div class="col">
                <h4 class="text-black">
                <strong>A Faculdade</strong> o começo de tudo 
                </h4>
                <p class="text-black lead">
                A faculdade é bem mais do que um ambiente de estudo, também tem a questão 
                do network. Pode vim através de amizades, ou mesmo de joguinhos. Que tal 
                participar do EvolGoals? Vem conhecer mais pessoas! Interagir, e fazer da 
                faculdade um ambiente bem mais divertido!
                </p>
            </div>
            <div class="col">
                <img class="img-fluid" src="./assets/imgs/faculdade.jpg">
            </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                <img class="img-fluid" src="./assets/imgs/evolgoas.png">
                </div>
                <div class="col">
                <h4 class="text-black">
                <strong>EvolGoals</strong> o que é ?
                </h4>
                <p class="text-black lead">
                EvolGoals é um sistema de quis simples e dinâmico, criado pelo grupo de 
                estudos Casulo para promover mais interações entre os alunos da Faculdade 
                Evolução e Fatene. Seja amizade ou relacionamento, o importante é se divertir!
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h4 class="text-black">
                <strong>Nossa meta</strong> é ?
                </h4>
                <p class="text-black lead">
                Imagina uma pessoa que tem gostos semelhantes aos seus? Tão divertida quanto 
                você! Poderiam ser ótimos amigos, mas, infelizmente ainda não se conhecem... 
                Para que deixar isso acontecer, vem participar do EvolGoals, pode ser 
                interessante!
                </p>
            </div>
            <div class="col">
                <img class="img-fluid" src="./assets/imgs/meta.jpg">
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h1 class="heading text-center">
        Nossa equipe de Casuleiros :)
        </h1>
        <div class="row mt-5" id="equipe">
            <carousel>
                <slide *ngFor="let groupo of groupos">
                    <div class="row mt-5" id="equipe">
                        <div *ngFor="let equipe of groupo.equipe" class="col-md-4">
                        <img class="img-fluid rounded-circle img-center" [src]="equipe.foto">
                        <p class="lead text-center mt-5">
                            {{equipe.nome}}
                        </p>
                        <h6>
                            {{equipe.descricao}}
                        </h6>
                        <ul class="slider-rede text-center">
                            <li *ngIf="equipe.facebook != null" class="facebook">
                            <a href="{{equipe.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                            </li>
                            <li *ngIf="equipe.instagram != null" class="instagram">
                                <a href="{{equipe.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                            </li>
                            <li *ngIf="equipe.github != null" class="github">
                                <a href="{{equipe.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                            </li>
                            <li *ngIf="equipe.linkedin != null" class="linkdin">
                                <a href="{{equipe.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </section>
</div>

<section class="bg-section">
    <div class="row justify-content-center">
        <button class="btn btn-primary" (click)="openModal(template)">Como foi nosso semestre em 2019</button>
    </div>
</section>

<div class="container">
    <section>
        <div class="row">
            <div class="col">
                <img class="img-fluid img-center" src="./assets/imgs/faculdade-evolucao.png">
                <p class="lead">
                Construir conhecimento com qualidade nas diversas áreas do saber, mediante 
                ações de ensino, pesquisa e extensão, propiciando a formação e o aprimoramento 
                de profissionais competentes e comprometidos com valores humanos.
                </p>
                <ul class="slider-rede" style="margin-left: -50px">
                    <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/Faculdadeevolucao/?ref=br_rs"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="instagram">
                    <a target="_blank" href="https://www.instagram.com/faculdade.evolucao/"><i class="fa fa-instagram fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <img class="img-center" src="./assets/imgs/logo-casulo.png">
                <p class="lead mt-3">
                    O Casulo é uma iniciativa da Faculdade Evolução acompanhando as demandas dos 
                    seus alunos na ampliação de seus horizontes, tanto do ponto de vista profissional 
                    como acadêmico. Tem como objetivo unir grupos de alunos com interesses em assuntos 
                    comuns para um maior desenvolvimento.
                </p>
                <ul class="slider-rede" style="margin-left: -50px">
                    <li class="facebook">
                        <a target="_blank" href="https://pt-br.facebook.com/casuloevolucao/"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="instagram">
                        <a target="_blank" href="https://www.instagram.com/casulo.evolucao/"><i class="fa fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="github">
                        <a target="_blank" href="https://github.com/casuloevolucao"><i class="fa fa-github fa-2x"></i></a>
                    </li>
                    <li class="youtube">
                        <a target="_blank" href="https://www.youtube.com/channel/UCp9gn-aRUUC7riTRUIgi2Ow"><i class="fa fa-youtube-play fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div class="divider"></div>
<app-footer></app-footer>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nosso Semestre no Casulo 2019</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Neste semestre, nossa metodologia teve como objetivo elaborar um projeto para apresentarmos o mesmo no TechDay. 
        Nossos casuleiros desenvolveram o sistema EvolGoals, cujo o foco é a interação entre os alunos das faculdades 
        Evolução e Fatene. Utilizando as tecnologias: angular, firebase e, bootstrap. Foi um momento enriquecedor que 
        pôde trazer os casuleiros, um pouco mais próximo, para a criação de um sistema, e, a alegria de poder disponibilizar 
        seu serviço.
    </div>
</ng-template>