<form [formGroup]= "form" (ngSubmit)="submit()">
  <div class="form-group">
    <label style="color: black;">
        Qual o ritmo mais ama?
    </label>
    <select formControlName="res6" class="form-control">
      <option>Selecione</option>
      <option *ngFor="let res of res6; let i = index" [value]="i" >{{res}}</option>
    </select>
  </div>
  <div class="form-group">
    <label style="color: black;">
        Como se definiria?
    </label>
    <select formControlName="res7" class="form-control">
      <option>Selecione</option>
      <option *ngFor="let res of res7; let i = index" [value]="i" >{{res}}</option>
    </select>
  </div>
  <div class="form-group">
    <label style="color: black;">
        Sobre pets...
    </label>
    <select formControlName="res8" class="form-control">
      <option>Selecione</option>
      <option *ngFor="let res of res8; let i = index" [value]="i" >{{res}}</option>
    </select>
  </div>
  <div class="form-row justify-content-end">
    <button [disabled]="!form.valid" class="btn btn-primary">Enviar <i class="fa fa-send-o"></i></button>
  </div>   
</form>